# --- Python ---
__pycache__/
*.py[cod]

# --- Virtual envs ---
.env/
.venv/
env/

# --- Jupyter checkpoints ---
.ipynb_checkpoints/

# --- Data & models (large files stay out of Git) ---
data/raw/
data/processed/
models/*.pkl

# ---Ignorer tous les fichiers HDF5 téléchargés de StatCan---
*.h5